<form method="post" action="{{ path('calculated_match_delete', {'id': calculated_match.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ calculated_match.id) }}">
    <button class="btn">Delete</button>
</form>
