{% extends 'base.html.twig' %}

{% block title %}New CalculatedMatch{% endblock %}

{% block body %}
    <h1>Create new CalculatedMatch</h1>

    {{ include('calculated_match/_form.html.twig') }}

    <a href="{{ path('calculated_match_index') }}">back to list</a>
{% endblock %}
